In [24]:
import pandas as pd

df = pd.read_csv('../data/cancer_data.csv')

C:\Users\karan\AppData\Local\Temp\ipykernel_26424\1472807842.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/cancer_data.csv')

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
df['Primary types of cancer (ICD-O-3)'].unique()

array(['Total, all primary sites of cancer [C00.0-C80.9]',
       'Lip [C00.0-C00.9]', 'Tongue [C01.9-C02.9]',
       'Salivary gland [C07.9-C08.9]', 'Floor of mouth [C04.0-C04.9]',
       'Gum and other mouth [C03.0-C03.9, C05.0-C05.9, C06.0-C06.9]',
       'Nasopharynx [C11.0-C11.9]', 'Oropharynx [C10.0-C10.9]',
       'Hypopharynx [C12.9, C13.0-C13.9]',
       'Other oral cavity and pharynx [C09.0-C09.9, C14.0-C14.8]',
       'Esophagus [C15.0-C15.9]', 'Stomach [C16.0-C16.9]',
       'Small intestine [C17.0-C17.9]',
       'Colon and rectum [C18.0-C18.9, C19.9, C20.9, C26.0]',
       'Colon excluding rectum [C18.0-C18.9, C26.0]',
       'Rectum and rectosigmoid [C19.9, C20.9]',
       'Anus, anal canal and anorectum [C21.0-C21.8]',
       'Liver and intrahepatic bile ducts [C22.0-C22.1]', 'Liver [C22.0]',
       'Intrahepatic bile ducts [C22.1]', 'Gallbladder [C23.9]',
       'Pancreas [C25.0-C25.9]',
       'Other digestive system [C24.0-C24.9, C26.8-C26.9, C48.0-C48.8]',
       'Larynx [C32.0-C32.9]', 'Lung and bronchus [C34.0-C34.9]',
       'Other respiratory system [C30.0-C30.1, C31.0-C31.9, C33.9, C38.1-C38.8, C39.0-C39.9]',
       'Bones and joints [C40.0-C41.9]',
       'Soft tissue (including heart) [C38.0, C47.0-C47.9, C49.0-C49.9]',
       'Melanomas of the skin [C44.0-C44.9, 8720-8790]',
       'Other non-epithelial skin [C44.0-C44.9]', 'Breast [C50.0-C50.9]',
       'Cervix uteri [C53.0-C53.9]', 'Corpus uteri [C54.0-C54.9]',
       'Uterus, not otherwise specified [C55.9]', 'Ovary [C56.9]',
       'Other female genital system [C51.0-C51.9, C52.9, C57.0-C58.9]',
       'Prostate [C61.9]', 'Testis [C62.0-C62.9]', 'Penis [C60.0-C60.9]',
       'Other male genital organs [C63.0-C63.9]',
       'Urinary bladder (including in situ) [C67.0-C67.9]',
       'Kidney and renal pelvis [C64.9, C65.9]', 'Ureter [C66.9]',
       'Other urinary organs [C68.0-C68.9]',
       'Eye and orbit [C69.0-C69.9]', 'Brain [C71.0-C71.9]',
       'Cranial nerves and other nervous system [C71.0-C71.9, 9530-9539; C70.0-C70.9, C72.0-C72.9]',
       'Thyroid [C73.9]',
       'Other endocrine [C37.9, C74.0-C74.9, C75.0-C75.9]',
       'Hodgkin lymphoma [9650-9667]', 'Non-Hodgkin lymphoma',
       'Myeloma [9731, 9732, 9734]',
       'Acute lymphocytic leukemia [9826, 9835-9836;C42.0, 9811-9819, 9837;C42.1, 9811-9819, 9837;C42.4, 9811-9819, 9837]',
       'Chronic lymphocytic leukemia [C42.0, 9823; C42.1, 9823; C42.4, 9823]',
       'Acute myeloid leukemia [9840,9861,9865,9866,9867,9869,9871-9874,9877-9879,9895-9897,9898,9910,9911,9912,9920]',
       'Chronic myeloid leukemia [9863, 9875, 9876, 9945, 9946]',
       'Other leukemia', 'Other, ill-defined and unknown sites',
       'Mesothelioma [9050-9055]', 'Kaposi sarcoma [9140]'], dtype=object)

In [27]:
df.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Primary types of cancer (ICD-O-3),Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1992,Canada,2016A000011124,"Total, all ages",Both sexes,"Total, all primary sites of cancer [C00.0-C80.9]",Number of new cancer cases,Number,223,units,0,v43786579,1.1.1.1.1,117970.0,NaN,NaN,NaN,0
1,1992,Canada,2016A000011124,"Total, all ages",Both sexes,"Total, all primary sites of cancer [C00.0-C80.9]",Cancer incidence rate,"Rate per 100,000 population",265,units,0,v43786580,1.1.1.1.2,415.8,NaN,NaN,NaN,1
2,1992,Canada,2016A000011124,"Total, all ages",Both sexes,"Total, all primary sites of cancer [C00.0-C80.9]","Low 95% confidence interval, cancer incidence ...","Rate per 100,000 population",265,units,0,v43786581,1.1.1.1.3,413.4,NaN,NaN,NaN,1
3,1992,Canada,2016A000011124,"Total, all ages",Both sexes,"Total, all primary sites of cancer [C00.0-C80.9]","High 95% confidence interval, cancer incidence...","Rate per 100,000 population",265,units,0,v43786582,1.1.1.1.4,418.2,NaN,NaN,NaN,1
4,1992,Canada,2016A000011124,"Total, all ages",Both sexes,Lip [C00.0-C00.9],Number of new cancer cases,Number,223,units,0,v43786659,1.1.1.2.1,625.0,NaN,NaN,NaN,0

In [28]:
df_filtered = df[(df['Sex']== 'Females')& (df['Characteristics'] == "Number of new cancer cases")]
df_filtered.shape

(525546, 18)

In [29]:
df_filtered['GEO'].unique()

array(['Canada', 'Canada (excluding Quebec)', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Nova Scotia', 'New Brunswick', 'Quebec',
       'Ontario', 'Manitoba', 'Saskatchewan', 'Alberta',
       'British Columbia', 'Yukon', 'Northwest Territories', 'Nunavut'],
      dtype=object)

In [30]:
df_filtered = df_filtered.rename(columns = {'Primary types of cancer (ICD-O-3)' : 'Cancer_type', 'Age group' : 'Age'})
df_filtered.head()

,REF_DATE,GEO,DGUID,Age,Sex,Cancer_type,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
460,1992,Canada,2016A000011124,"Total, all ages",Females,"Total, all primary sites of cancer [C00.0-C80.9]",Number of new cancer cases,Number,223,units,0,v43795459,1.1.3.1.1,54905.0,NaN,NaN,NaN,0
464,1992,Canada,2016A000011124,"Total, all ages",Females,Lip [C00.0-C00.9],Number of new cancer cases,Number,223,units,0,v43795539,1.1.3.2.1,95.0,NaN,NaN,NaN,0
468,1992,Canada,2016A000011124,"Total, all ages",Females,Tongue [C01.9-C02.9],Number of new cancer cases,Number,223,units,0,v43795619,1.1.3.3.1,175.0,NaN,NaN,NaN,0
472,1992,Canada,2016A000011124,"Total, all ages",Females,Salivary gland [C07.9-C08.9],Number of new cancer cases,Number,223,units,0,v43795699,1.1.3.4.1,110.0,NaN,NaN,NaN,0
476,1992,Canada,2016A000011124,"Total, all ages",Females,Floor of mouth [C04.0-C04.9],Number of new cancer cases,Number,223,units,0,v43795779,1.1.3.5.1,70.0,NaN,NaN,NaN,0

In [41]:
df_filtered = df_filtered[['REF_DATE','GEO','Age', 'Sex','Cancer_type','Characteristics', 'UOM','VALUE']]
df_filtered.shape

(525546, 8)

In [36]:
df_filtered.to_csv('../data/filtered/filtered.csv')

In [37]:
df_filtered.head()

,REF_DATE,GEO,Age,Sex,Cancer_type,Characteristics,UOM,VALUE
460,1992,Canada,"Total, all ages",Females,"Total, all primary sites of cancer [C00.0-C80.9]",Number of new cancer cases,Number,54905.0
464,1992,Canada,"Total, all ages",Females,Lip [C00.0-C00.9],Number of new cancer cases,Number,95.0
468,1992,Canada,"Total, all ages",Females,Tongue [C01.9-C02.9],Number of new cancer cases,Number,175.0
472,1992,Canada,"Total, all ages",Females,Salivary gland [C07.9-C08.9],Number of new cancer cases,Number,110.0
476,1992,Canada,"Total, all ages",Females,Floor of mouth [C04.0-C04.9],Number of new cancer cases,Number,70.0

In [43]:
df_filtered[(df_filtered['GEO']=='Canada')&(df_filtered['Age']=='Total, all ages')]

,REF_DATE,GEO,Age,Sex,Cancer_type,Characteristics,UOM,VALUE
460,1992,Canada,"Total, all ages",Females,"Total, all primary sites of cancer [C00.0-C80.9]",Number of new cancer cases,Number,54905.0
464,1992,Canada,"Total, all ages",Females,Lip [C00.0-C00.9],Number of new cancer cases,Number,95.0
468,1992,Canada,"Total, all ages",Females,Tongue [C01.9-C02.9],Number of new cancer cases,Number,175.0
472,1992,Canada,"Total, all ages",Females,Salivary gland [C07.9-C08.9],Number of new cancer cases,Number,110.0
476,1992,Canada,"Total, all ages",Females,Floor of mouth [C04.0-C04.9],Number of new cancer cases,Number,70.0
...,...,...,...,...,...,...,...,...
6195499,2021,Canada,"Total, all ages",Females,"Chronic myeloid leukemia [9863, 9875, 9876, 99...",Number of new cancer cases,Number,NaN
6195503,2021,Canada,"Total, all ages",Females,Other leukemia,Number of new cancer cases,Number,NaN
6195507,2021,Canada,"Total, all ages",Females,"Other, ill-defined and unknown sites",Number of new cancer cases,Number,NaN
6195511,2021,Canada,"Total, all ages",Females,Mesothelioma [9050-9055],Number of new cancer cases,Number,NaN
6195515,2021,Canada,"Total, all ages",Females,Kaposi sarcoma [9140],Number of new cancer cases,Number,NaN

In [73]:
df_filtered_new = pd.read_csv('../data/filtered/filtered_excel.csv')
df_filtered_new.head()

,DATE,GEO,Age,Sex,Cancer_type,Characteristics,UOM,VALUE,Age_group
0,2012,Canada,"Total, all ages",Females,"Total, all primary sites of cancer",Number of new cancer cases,Number,95005,Total
1,2012,Canada,"Total, all ages",Females,Lip,Number of new cancer cases,Number,125,Total
2,2012,Canada,"Total, all ages",Females,Tongue,Number of new cancer cases,Number,365,Total
3,2012,Canada,"Total, all ages",Females,Salivary gland,Number of new cancer cases,Number,205,Total
4,2012,Canada,"Total, all ages",Females,Floor of mouth,Number of new cancer cases,Number,65,Total

In [74]:
df_filtered_new = df_filtered_new[(df_filtered_new['Cancer_type'].isin(['Breast', 'Liver', 'Stomach', 'Lung and bronchus', 'Colon and rectum']))&
                                  (df_filtered_new['DATE']>2010)&(~df_filtered_new['GEO'].isin(['Canada (excluding Quebec)']))]
df_filtered_new.shape

(14460, 9)

In [75]:
# df_filtered_new.to_csv('../data/filtered/filtered_new.csv')

In [77]:
df_filtered_new

,DATE,GEO,Age,Sex,Cancer_type,Characteristics,UOM,VALUE,Age_group
11,2012,Canada,"Total, all ages",Females,Stomach,Number of new cancer cases,Number,1245,Total
13,2012,Canada,"Total, all ages",Females,Colon and rectum,Number of new cancer cases,Number,10630,Total
18,2012,Canada,"Total, all ages",Females,Liver,Number of new cancer cases,Number,620,Total
24,2012,Canada,"Total, all ages",Females,Lung and bronchus,Number of new cancer cases,Number,13040,Total
30,2012,Canada,"Total, all ages",Females,Breast,Number of new cancer cases,Number,23900,Total
...,...,...,...,...,...,...,...,...,...
30786,2021,Nunavut,90 years and over,Females,Stomach,Number of new cancer cases,Number,0,Old-aged Adults
30787,2021,Nunavut,90 years and over,Females,Colon and rectum,Number of new cancer cases,Number,0,Old-aged Adults
30789,2021,Nunavut,90 years and over,Females,Liver,Number of new cancer cases,Number,0,Old-aged Adults
30790,2021,Nunavut,90 years and over,Females,Lung and bronchus,Number of new cancer cases,Number,0,Old-aged Adults
30791,2021,Nunavut,90 years and over,Females,Breast,Number of new cancer cases,Number,0,Old-aged Adults

In [78]:
df2 = pd.read_csv('../data/filtered/filtered_new.csv')

In [103]:
# Province wise avg for Cancer type across the years

grouped_prov = df2.groupby(['GEO','Cancer_type'])['VALUE'].mean()
df_prov_type = grouped_prov.reset_index()

grouped = df_prov_type.groupby('GEO')['VALUE'].transform('sum')

df_prov_type['Percentage'] = (df_prov_type['VALUE'] / grouped) * 100
df_prov_type

        GEO        Cancer_type       VALUE  Percentage
0   Alberta             Breast  147.882353   53.703057
1   Alberta   Colon and rectum   46.573427   16.913008
2   Alberta              Liver    3.397436    1.233769
3   Alberta  Lung and bronchus   72.517241   26.334430
4   Alberta            Stomach    5.000000    1.815736
..      ...                ...         ...         ...
60    Yukon             Breast    1.769231   46.881719
61    Yukon   Colon and rectum    0.948276   25.127758
62    Yukon              Liver    0.204082    5.407829
63    Yukon  Lung and bronchus    0.648148   17.174865
64    Yukon            Stomach    0.204082    5.407829

[65 rows x 4 columns]

In [104]:
df_prov_type.to_csv('../data/filtered/canc_type_data.csv')

In [93]:
# Canada wise numbers
grouped_df = df2.groupby(['DATE', 'Cancer_type'])['VALUE'].sum()


# Reset index to turn the grouped columns into regular columns
reset_df = grouped_df.reset_index()

reset_df.head()

   DATE        Cancer_type  VALUE
0  2012             Breast  23360
1  2012   Colon and rectum   9290
2  2012              Liver    295
3  2012  Lung and bronchus  12655
4  2012            Stomach    745

In [99]:
df2_breast_canc = df2.query('Cancer_type == "Breast"')
grouped_age = df2_breast_canc.groupby(['GEO','Age_group'])['VALUE'].mean()
df_prov_age = grouped_age.reset_index()
df_prov_age

        GEO           Age_group       VALUE
0   Alberta               Child    0.000000
1   Alberta  Middle-aged Adults   95.166667
2   Alberta     Old-aged Adults  223.636364
3   Alberta             Unknown    0.000000
4   Alberta        Young Adults    6.041667
..      ...                 ...         ...
60    Yukon               Child    0.000000
61    Yukon  Middle-aged Adults    1.153846
62    Yukon     Old-aged Adults    4.000000
63    Yukon             Unknown    0.000000
64    Yukon        Young Adults    0.000000

[65 rows x 3 columns]

In [100]:
df_prov_age.to_csv('../data/filtered/age_data.csv')

In [ ]:

grouped_type = df2.groupby(['GEO','Cancer_type'])['VALUE'].mean()
df_prov_type = grouped_type.reset_index()
df_prov_type